.header {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
  height: 70px;
  background-color:  #DDDDDD;
  align-items: center;
}
.logo {
  margin-left: 15px;
  cursor: pointer;
}
.picture {
  display: block;
  margin: 10px auto;
  height: 40px;
}